<div class="zx-nav"  style="text-align:center">
	<nav class="navbar navbar-brand navbar-dark fixed-top zx-color">
	   	        <h4 id="zx_Header_color">Main News Page</h4>
	   
		<div class="container">

		  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

			<!-- ====================BUTTONS================ -->
		    <button type="button" class="btn btn-info" routerLink="login">    Login</button>
		    <button type="button" class="btn btn-info" routerLink="register">    Register</button>
		    <button type="button" class="btn btn-info" routerLink="user/:uid/news">    News</button>
		    <button type="button" class="btn btn-info">Links</button>
		    <button type="button" class="btn btn-info">About</button>
		    <button type="button" class="btn btn-info"  (click)="logout()"routerLink="/">Logout</button>
		    <button type="button" class="btn btn-info" routerLink="/user">Profile</button>
		    
		    <!-- ====================Droopdown================ -->
		    <div class="btn-group" role="group">
		          <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        [ More ]
		      </button>

			     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

			      <!--   <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" routerLink="register">Register</a>
			        <a class="dropdown-item" href="#">Dropdown link</a> -->
			      
			     </div>
		    </div>
		  </div>
		</div>  <!-- end Container -->
	</nav>

</div>



<br>





<div style="text-align:center">

</div>

<!--########################################################-->
<!--#############[      BUTTON GROUPS         ]############-->
<!--########################################################-->
<div class="container">

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-warning">Button # 1</button>
      <button type="button" class="btn btn-warning">Button # 2</button>
      <button type="button" class="btn btn-warning">Button # 3</button>

    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-warning">Button # 1</button>
      <button type="button" class="btn btn-warning">Button # 2</button>
      <button type="button" class="btn btn-warning">Button # 3</button>
      
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
   <!--    <button type="button" class="btn btn-warning">Button # 7</button>
      <button type="button" class="btn btn-warning">Button # 8</button>
      <button type="button" class="btn btn-warning" >Button # 9</button> -->
    </div>
     
  </div>
</div>   <!-- [END CONTAINER] -->

<!--########################################################-->
<!--#############[          Buttons            ]############-->
<!--########################################################-->


<!--########################################################-->
<!--#############[          Testing            ]############-->
<!--########################################################-->
<div id="zx-logo-youtube">


</div>


<!--########################################################-->
<!--#############[      SOCIAL ICONS       ]############-->
<!--########################################################-->
<div class="zx-center" >

  <div class="container"> 

    <span class="button fb">  
            <a href="http://facebook.com"target="_blank">
              <img src="http://png-1.findicons.com/files/icons/2052/social_network/32/facebook.png" 
                    alt=""
                    height="30"
                    width="30">
              Like It
              </a>  
    </span> 

    <span class="button twit"> 

           <a href="http://twitter.com"target="_blank">
            <img src="http://png-4.findicons.com/files/icons/2192/flavour_extended/48/  twitter_standing.png"   alt="">
            Tweet It
            </a>  
    </span>  
  
    <span class="button mail">

         <a href="https://www.google.com/gmail/about/#"target="_blank">
            <img    src="http://png-1.findicons.com/files/icons/1696/once/48/mail.png" 
                    alt=""
                    height="30"
                    width="30">
                Email
                </a>  
    </span>  
</div>  <!-- [END CONTAINER] -->
</div>  <!-- [END ZX CENTER] -->


<!--########################################################-->
<!--#############[        TEST BUTTON      ]############-->
<!--########################################################-->


  


<!--########################################################-->
<!--#############[     3 Block Container     ]############-->
<!--########################################################-->


<!-- <div class="container"> -->
<div class="container-fluid">
			<!-- ======================================================== -->
	   <div class="row">


			<!-- ======================================================== -->
	        <div class="col-sm">

	        	<h4><B>Top Stories</B></h4>
				<p></p>
			        <div *ngFor="let news of parsedNewsData">
					
						<p><b>{{news.title}}</b></p>
						<p>{{news.content}}</p>
						
					</div>
				

	     </div>  
			<!-- ======================================================== -->
	      <div class="col-sm">

	        	<h4><B>Business and Finance</B></h4>

				        <div *ngFor="let newsMoney of parsedNewsMoneyData">
							<p></p>
							<p><b>{{newsMoney.title}}</b></p>
							<p>{{newsMoney.content}}</p>

						</div>
						<p>Stay tuned there is more to Come</p>
	      </div> 
			<!-- ======================================================== -->
	      <div class="col-sm">

	        	<h4><B>Technogoly</B></h4>
						<p><b></b></p>
			            <div *ngFor="let tech of parsedNewsTechData">
							<p><b>{{tech.title}}</b></p>
							<p>{{tech.content}}</p>
							
						</div>
						<p>Stay tuned there is more to Come</p>

			</div>
			<!-- ======================================================== -->

	 </div> <!--  [end row] -->
			<!-- ======================================================== -->



<!--########################################################-->
<!--#############[     3 Block Container       ]############-->
<!--########################################################-->

 <div class="row">
	      <div class="col-sm">
	        <h3>col-sm</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rem nesciunt et commodi, mollitia sequi delectus amet rerum vitae est beatae saepe aspernatur ut quam porro perferendis blanditiis, dolore alias.</p>
	    </div>
	      <div class="col-sm">
	        <h3>col-sm</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum odio quia reprehenderit, tempore illum quis, perspiciatis eos, laudantium quidem iste labore consequuntur necessitatibus nulla odit. Quaerat vero eligendi voluptas!
	      </p>
	    </div>
	      <div class="col-sm">
	        <h3>col-sm</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima temporibus sequi praesentium unde delectus aut animi itaque accusamus suscipit incidunt rem id minus, eos sed ab similique voluptate modi distinctio.</p>
	    </div>
	  </div>


</div> <!-- [END CONTAINER] -->



<!--########################################################-->
<!--#############[         Grids               ]############-->
<!--########################################################-->
<div class="container-fluid">

	  <div class="wrapper" style="text-align:center">

			  <div id="ex_1"> 
			      <h3>Happy Monday</h3>
			      <!-- <h3>{{dynamic}}</h3> -->
			     
			      <img    width="300" 
			              alt="Giffy Logo" 
			              src="https://www.crowdspring.com/blog/wp-content/uploads/2016/08/tumblr_mf5ylr5ZkW1r6mnq4o1_1280.gif">
			    </div>


				  <div id="ex_2"> 
				      <h3>We use APIs</h3>
				      <p>We use APIs for data !
				      </p>
					 <img    width="300" 
				              alt="Giffy Logo" 
				              src="https://raw.githubusercontent.com/Giphy/GiphyAPI/master/api_giphy_header.gif">
				  </div>

				  <div id="ex_3"> 
				      <h3>This Block Blank</h3>
				      <p>Nothing was put here because 
				      </p>
				    
				</div>

		</div> <!-- [end wrapper] -->


<!-- <div class="container-fluid"> -->

		<div class="image_wrapper" >

		</div>
		<!-- </div> -->


		<div class="wrapper" style="text-align:center">

			  <div id="ex_4"> 
			      <h5><B>[ Top Stories ]</B></h5>
			        <div *ngFor="let news of parsedNewsData">
						<p>{{news.title}}</p>
						<p>{{news.content}}</p>
					</div>
			     
			</div>

			  <div id="ex_5"> 
			  	<h5><B>[ Business and Finance ]</B></h5>

				        <div *ngFor="let newsMoney of parsedNewsMoneyData">
							<p></p>
							<p>{{newsMoney.title}}</p>
							<p>{{newsMoney.content}}</p>

						</div>
					<p>Stay tuned there is more to Come !</p>
			</div>

			 <div id="ex_6"> 
			      <h3>Static Text</h3>
			      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ea earum, deserunt nihil autem facere, sapiente ullam explicabo, neque vel consequatur ex cupiditate architecto id ipsa? Optio commodi quis accusamus? ipsum dolor sit amet, consectetur adipisicing elit. Quos atque libero non voluptates quasi nobis esse veniam, sed impedit, cum sint at, consectetur facere, voluptatibus! Esse, aliquam excepturi architecto aliquid. ipsum</p>
			</div>

		</div> <!-- [end wrapper] -->




<!-- <div class="container-fluid"> -->
	<div class="wrapper" style="text-align:center">

			  <div id="ex_1"> 
			      <h3>Youtube Live</h3>
			      <p>Bloomberg</p>
				<iframe width="350" height="200" 
						src="https://www.youtube.com/embed/Ga3maNZ0x0w" 
						frameborder="0" allow="autoplay; encrypted-media" 
						allowfullscreen>
						</iframe>		      
			    </div>


			  <div id="ex_2"> 
			      <h3>NASA Live</h3>
			      <p>ISS Above the earth </p>
			     
					<iframe width="350" height="200" 
							src="https://www.youtube.com/embed/RtU_mdL2vBM" 
							frameborder="0" allow="autoplay; encrypted-media"
							 allowfullscreen>
							 </iframe>
			  </div>

			  <div id="ex_3"> 
			      <h3>Dont Give UP</h3>
			      <p>Just another Video	</p>
			      <iframe   src="https://www.youtube.com/embed/izIFLbFXuC4" 
			                width="350" 
			                height="200" 
			                frameborder="0"
			                allowfullscreen
			                allow="autoplay; encrypted-media">
			                </iframe>
			</div>

	</div> <!-- [end wrapper] -->


<!-- <div class="container-fluid"> -->

	<div class="image_wrapper" >

	</div>
		<!-- </div> -->


		<div class="wrapper" style="text-align:center">

			

		</div> <!-- [end wrapper] -->



<!-- <div class="container-fluid"> -->
	<div class="wrapper" style="text-align:center">

		

	</div> <!-- [end wrapper] -->


<!-- <div class="container-fluid"> -->


<div class="wrapper" style="text-align:center">

			  <div id="ex_1"> 
			      <h3>Lets get you better</h3>
			      <div *ngFor="let tech of parsedNewsTechData">
							<p><b>{{tech.title}}</b></p>
							<p>{{tech.content}}</p>
							
						</div>
			      
			    </div>


			  <div id="ex_2"> 
			     <div *ngFor="let newsMoney of parsedNewsMoneyData">
							<p></p>
							<p><b>{{newsMoney.title}}</b></p>
							<p>{{newsMoney.content}}</p>

						</div>
			      <!-- <h3>{{ title1 }}</h3> -->

			      
			  </div>

			  <div id="ex_3"> 
			      <h5><B>[ Top Stories ]</B></h5>
			        <div *ngFor="let news of parsedNewsData">
						<p>{{news.title}}</p>
						<p>{{news.content}}</p>
					</div>
			</div>

	</div> <!-- [end wrapper] -->

	<div class="image_wrapper" >

	</div>
		<!-- </div> -->


		<div class="wrapper" style="text-align:center">

		  <div id="ex_4"> 
		      <h3>Just another box</h3>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nam voluptatum iusto eaque quas maiores voluptatibus, suscipit cum officiis. Doloribus, dolorem praesentium, consequatur in sit ducimus tenetur enim veniam impedit. ipsum</p>
		</div>

		  <div id="ex_5"> 
		      <h3>Lorem ipsum dolor</h3>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam tempore atque aliquid voluptatibus officiis asperiores libero aut suscipit nesciunt at id sit debitis, aperiam perferendis quis provident vel sapiente illo. ipsum dolor sit amet, consectetur adipisicinge optio vero odit veritatis ut cumque iste voluptatum error? ipsum</p>
		</div>

		 <div id="ex_6"> 
		      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, deserunt doloremque ut molestias quae p</h3>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nostrum voluptatem, itaque iusto maxime accusamus minima esse ad! Modi suscipit necessitatibus quasi ullam odio praesentium sunt labore. Magnam, earum consequuntur! ipsum</p>
		</div>

		</div> <!-- [end wrapper] -->


<div class="wrapper" style="text-align:center">

			

	</div> <!-- [end wrapper] -->


		<div class="wrapper" style="text-align:center">

		  

		</div> <!-- [end wrapper] -->




<div style="text-align:center">

	

		  


		<div class="zx-center" style="text-align:center">
		  <br><br>



		     <button   type="submit" 
		               class="btn btn-primary "
		               (click)="ngOnInit()">
		                Reload
		                </button>
		          
		  
		</div>
  
</div>


	
</div>  <!-- [end container fluid] -->