
<div class="zx-nav "  style="text-align:center">
<nav class="navbar navbar-brand navbar-dark fixed-top zx-color">
        <h2 id="zx_Header_color">News App</h2>

</nav>
</div>  
<br>

<!--########################################################-->
<!--#############[        entry Page            ]############-->
<!--########################################################-->

<div style="text-align:center">
  
  <img  class="img_splash" width="300" alt="Giffy Logo" src="https://www.bagotarmsgs.com/s/cc_images/cache_2456834.gif?t=1486917593">
</div>

 <!-- [news]  https://i.giphy.com/media/Mn60irClToFX2/200.gif
 [Moto]  https://i0.wp.com/25.media.tumblr.com/tumblr_lzyhc2WuVX1qkshedo1_500.gif -->

<!--########################################################-->
<!--#############[          Buttons            ]############-->
<!--########################################################-->

<div class="zx-center" style="text-align:center">
 
     <button   type="submit" 
               class="btn btn-primary "
               routerLink="login">
                Login
                </button>
             <!-- routerLink="/user/{{uid}}/website"> -->
  
      <button  type="submit" 
               class="btn btn-primary "
               routerLink="register">
                Register
                </button>

<!--     <button class="btn btn-success"
            (click)="AlertMessage()"
            routerLink="/">
            News
            </button>

 <div    *ngIf="errorFlag" 
      class="alert alert-danger">
      To See More please Login or Register
      </div>
  -->

    <button   type="button" 
              class="btn btn-primary" 
              data-container="body" 
              data-toggle="popover" 
              data-placement="bottom"
              (click)="randomQuote()" 
              data-content="crap">
              [ More ]
              </button>

        <!-- (click)="randomQuote()" -->
      <!-- class="btn btn-secondary" -->

</div>
<!--########################################################-->
<!--#############[          Testing            ]############-->
<!--########################################################-->
<div id="zx-logo-youtube">


</div>
<!--########################################################-->
<!--#############[         social Icons        ]############-->
<!--########################################################-->
<!-- <div class="zx-center" > -->
<div class="img_splash" >
  <div class="container"> 

    <span class="button fb">  
            <a href="http://facebook.com"target="_blank">
              <img src="http://png-1.findicons.com/files/icons/2052/social_network/32/facebook.png" 
                    alt=""
                    height="30"
                    width="30">
              Like It
              </a>  
    </span> 

    <span class="button twit"> 

           <a href="http://twitter.com"target="_blank">
            <img src="http://png-4.findicons.com/files/icons/2192/flavour_extended/48/  twitter_standing.png"   alt="">
            Tweet It
            </a>  
    </span>  
  
    <span class="button mail">

         <a href="https://www.google.com/gmail/about/#"target="_blank">
            <img    src="http://png-1.findicons.com/files/icons/1696/once/48/mail.png" 
                    alt=""
                    height="30"
                    width="30">
                Email
                </a>  
    </span>  
</div>

<!--########################################################-->
<!--#############[         Grids               ]############-->
<!--########################################################-->
<div class="container-fluid">  

  <div class="wrapper" style="text-align:center">

  <div id="ex_1"> 
      <h1>{{ex_1_header}}</h1>

       <img    width="200" 
              alt="Giffy Logo" 
              src="https://www.crowdspring.com/blog/wp-content/uploads/2016/08/tumblr_mf5ylr5ZkW1r6mnq4o1_1280.gif">
      <!-- <h3>{{dynamic}}</h3> -->
      <h3>{{ex_1_title}}</h3> 
      <p>{{quick1Body}}</p>
      <p>------//------//------</p>
      
      <p>{{quick2Body}}</p> 
    </div>

  <div id="ex_2"> 
      <h1>{{ex_2_header}}</h1>
      <img    width="300" 
              alt="Giffy Logo" 
              src="https://raw.githubusercontent.com/Giphy/GiphyAPI/master/api_giphy_header.gif">
      <p>{{quoteBody}}
      </p>
      <h3>{{ex_2_title}}</h3>
      
  </div>

  <div id="ex_3"> 
      <h1>{{ex_3_header}}</h1>
      <!-- <p>{{quick2Body}}
      </p> -->
      <h3>{{ex_3_title}}</h3>

      <iframe   src="https://www.youtube.com/embed/izIFLbFXuC4" 
                width="360" 
                height="235" 
                frameborder="0"
                allowfullscreen
                allow="autoplay; encrypted-media">
                </iframe>
</div>

</div> 

<div class="container-fluid">
  
      <div  >
           <!--  <img    alt="Latest News" 
                    src="http://www.ccsgsupport.com/Icons/Latest%20News%202.gif"> -->
    <!-- [ Image Resources ] -->
    <!-- https://i0.wp.com/25.media.tumblr.com/tumblr_lzyhc2WuVX1qkshedo1_500.gif -->
    <!-- http://www.ccsgsupport.com/Icons/Latest%20News%202.gif -->
      </div>

<!--########################################################-->
<!--#############[         Random Quote        ]############-->
<!--########################################################-->

      <button      type="button" 
                   class="btn btn-primary" 
                   data-toggle="modal" 
                   data-target="#exampleModalLong"
                   (click)="randomQuote()">
        Random Quote
      </button>

      <!-- Modal -->
      <div  class="modal fade" 
            id="exampleModalLong" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="exampleModalLongTitle" 
            aria-hidden="true">

        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">

              <h5 class="modal-title" id="exampleModalLongTitle">Here is a Random Quote</h5>

              <button   type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close" >
                          
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>

            <div class="modal-body">
              {{quoteBody}}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>


<!-- loopArticle -->

      <button      type="button" 
                   class="btn btn-primary" 
                   (click)="loopArticle()">
        [ Done ]
      </button>
        
        <div>
              <ul>
                <li *ngFor="let item of testdata">
                  <p><b>Name : {{item.name}}</b></p>
                  <p>Username : {{item.username}}</p>
                  <p>Email :  {{item.email}}</p>
                  <p>Website:  {{item.website}}</p>
                  <p>Info:  {{item.company.catchPhrase}}</p>
                  <p>LAT :  {{item.address.geo.lat}}</p>
                  <p>LNG:  {{item.address.geo.lng}}</p>
                </li>
              </ul>
        </div>   

<!-- ================================================================== -->
  
      <button      type="button" 
                   class="btn btn-primary" 
                   (click)="getPic()">
        [ Testing ]
      </button>

        <div *ngFor="let pic of picdata">

           <!-- <p>{{pic.title}}</p> -->
           <a href="{{pic.url}}" target="_blank" >Link : [ {{pic.id}} ]</a>
            <!-- <p>{{pic.url}}</p> -->
               
        </div>   

<!-- https://jsonplaceholder.typicode.com/photos -->
</div>
<!-- ================================================================== -->



<div class="container-fluid">
<div class="image_wrapper" >


</div>
</div>




<div class="wrapper" style="text-align:center">

    <div id="ex_4"> 
        <h3>Header info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! d, deleniti nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. RepellCulpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
  </div>

    <div id="ex_5"> 
        <h3 id="ex_5h" >Middle Header info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi </p>
        <p class="ex_5a">{{injectionTest1}}</p>
        <p> incidunt dolorem, enim sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.Nihil aut illo, nisi incidunt dolorem, enim Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in aliquam</p>
        <p class="ex_5b" >{{injectionTest2 }}</p>
        <p> nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, expedita, vero. Illo, soluta sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, expedita, vero. Illo, soluta </p>
  </div>

   <div id="ex_6"> 
        <h3>Header info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in error beatae eaque iusto sit vel, omnis alias animi sequi odio, magni. Alias deserunt nostrum voluptatem eligendi?</p>
  </div>

</div> <!-- [end wrapper] -->

</div>  <!-- [end container fluid] -->



<div>
  <br><br>
      <h2>{{outputDiv}}</h2>
      <br>
      <br>
      <p>My current hero is {{outputDiv}}</p>

      <br>
      <br>
      {{testVar}}
</div>


















<br>
<br>

<div id="test">
    <!-- <input type="" name=""> -->
    <!-- <input type="text" ngModel="{{inputString}}"> -->

    <button class="btn btn-danger"
            (click)="clickEvent()"
            type="button">
            SEARCH
            </button>
</div>


<form (ngSubmit)="clickEvent()" #f="ngForm">
    <div class="form-group">

            <input  class="form-control" 
                type="text" 
                name="inputString" 
                required 
                ngModel 
                #inputString="ngModel" 
                placeholder="Input something">
      </div>

</form>

    <br>
    <h3>{{output}}</h3>
    <br>

    <br>
    <h3>{{output1}}</h3> <h3>{{output2}}</h3>
    <p>{{output3}}</p>
    <br>


<!-- <div id="top-page"></div> -->





<br>
<br>
<div id="test">
    <!-- <input type="" name=""> -->
    <!-- <input type="text" ngModel="{{inputString}}"> -->

    <button class="btn btn-danger"
            (click)="GetWeather()"
            type="button">
            Get Weather
            </button>

</div>

<form (ngSubmit)="GetWeather()" #b="ngForm">

    <div class="form-group">

            <input  class="form-control" 
                type="text" 
                name="inputCity" 
                required 
                [(ngModel)] = "inputCity" 
                placeholder="Imput your City">
            <br>
              <input  class="form-control" 
                type="text" 
                name="inputState" 
                required 
                [(ngModel)] = "inputState" 
                placeholder="Input your State ex : Ma">
      </div>

</form>


    <hr>
    <br>
<!--     <h1>{{weather}}</h1>
    <br>

    <br>
    <h1>{{weather1}}</h1> <h1>{{weather2}}</h1>
    <h2><b>{{weather3}}</b></h2>
    <br> -->

<br>
    <h3>{{outputCity}}</h3>
    <br>
    <h3>{{outputState}}</h3>
    <br>
    <h3>{{weather_conditions}}</h3>
    <br>
    <br>













<div class="zx-center" style="text-align:center">
  
     <h3>Want to see more</h3>
     <p>Register with your facebook account of Google account</p>


     <button   type="submit" 
               class="btn btn-primary "
               routerLink="/login">
                Login
                </button>
                              <!-- routerLink="/user/{{uid}}/website">
  
      <button   type="submit" 
               class="btn btn-primary "
               routerLink="/register">
                Register
                </button>

        <a href="/">
  <button class="btn btn-success" >
            Top of the page
            </button></a>        
  
</div>



  
</div>
-->

