<div class="zx-nav"  style="text-align:center">
	<nav class="navbar navbar-brand navbar-dark fixed-top zx-color">
	   	        <h4 id="zx_Header_color">Yoiu Page</h4>
	   
		<div class="container">

		  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

			<!-- ====================BUTTONS================ -->

        <button type="button" class="btn btn-info" routerLink="/">Home</button>
		    <button type="button" class="btn btn-info" routerLink="/login">Login</button>
		    <button type="button" class="btn btn-info" routerLink="/register">Register</button>
		    <button type="button" class="btn btn-info" routerLink="/user/:uid/news">News</button>

		    <button type="button" class="btn btn-info"  (click)="logout()"routerLink="/">Logout</button>
		    <button type="button" class="btn btn-info" routerLink="/user">Profile</button>

        <button type="button" class="btn btn-info" routerLink="/about">About</button>
        <button type="button" class="btn btn-info" routerLink="/yoiu">Yoiu</button>
		    
		    <!-- ====================Droopdown================ -->
		    <div class="btn-group" role="group">
		          <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        [ More ]
		      </button>

			     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

			      <!--   <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" href="#">Dropdown link</a>
			        <a class="dropdown-item" routerLink="register">Register</a>
			        <a class="dropdown-item" href="#">Dropdown link</a> -->
			      
			     </div>
		    </div>
		  </div>
		</div>  <!-- end Container -->
	</nav>

</div>



<br>





<div style="text-align:center">

</div>

<!--########################################################-->
<!--#############[      BUTTON GROUPS         ]############-->
<!--########################################################-->
<div class="container">

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-warning">Button # 1</button>
      <button type="button" class="btn btn-warning">Button # 2</button>
      <button type="button" class="btn btn-warning">Button # 3</button>

    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-warning">Button # 1</button>
      <button type="button" class="btn btn-warning">Button # 2</button>
      <button type="button" class="btn btn-warning">Button # 3</button>
      
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
   <!--    <button type="button" class="btn btn-warning">Button # 7</button>
      <button type="button" class="btn btn-warning">Button # 8</button>
      <button type="button" class="btn btn-warning" >Button # 9</button> -->
    </div>
     
  </div>
</div>   <!-- [END CONTAINER] -->

<!--########################################################-->
<!--#############[          Buttons            ]############-->
<!--########################################################-->


<!--########################################################-->
<!--#############[          Testing            ]############-->
<!--########################################################-->
<div id="zx-logo-youtube">


</div>


<!--########################################################-->
<!--#############[      SOCIAL ICONS       ]############-->
<!--########################################################-->
<div class="zx-center" >

  <div class="container"> 

    <span class="button fb">  
            <a href="http://facebook.com"target="_blank">
              <img src="http://png-1.findicons.com/files/icons/2052/social_network/32/facebook.png" 
                    alt=""
                    height="30"
                    width="30">
              Like It
              </a>  
    </span> 

    <span class="button twit"> 

           <a href="http://twitter.com"target="_blank">
            <img src="http://png-4.findicons.com/files/icons/2192/flavour_extended/48/  twitter_standing.png"   alt="">
            Tweet It
            </a>  
    </span>  
  
    <span class="button mail">

         <a href="https://www.google.com/gmail/about/#"target="_blank">
            <img    src="http://png-1.findicons.com/files/icons/1696/once/48/mail.png" 
                    alt=""
                    height="30"
                    width="30">
                Email
                </a>  
    </span>  
</div>  <!-- [END CONTAINER] -->
</div>  <!-- [END ZX CENTER] -->


<!--########################################################-->
<!--#############[        TEST BUTTON      ]############-->
<!--########################################################-->

<div class="container">
    <div id="yoiu">
    <iframe width="900" height="900" 
                  src="https://web.archive.org/web/20180324050557/http://yoiu.org" >
                   </iframe>
             <!--   frameborder="0" allow="autoplay; encrypted-media"
                   allowfullscreen -->
    </div>
</div>